$primary-bg: #FDFFFE;
$primary-color: #232B50;
$secondary-gray: #B1B1B1;
$secondary-green: #47F4B6;
$secondary-red: #FD0C0C;
$input-shadow: 0px 4px 30px 0px rgba(35, 43, 80, 0.25);
$input-bg: rgba(253, 255, 254, 0.80);
$secondary-gray-bg: rgba(236, 236, 236, 0.10);
$secondary-gray-overlay: rgba(236, 236, 236, 0.40);
$secondary-bg-gray: linear-gradient(109deg, rgba(226, 226, 226, 0.40) 1.57%, rgba(236, 236, 236, 0.10) 100%);
$primary-button-bg: linear-gradient(90deg, #47F4B6 0%, #4CF3B7 24.5%, #51EBC3 53%, #56E4CD 81%, #49F0DC 100%);
$primary-linear: linear-gradient(90deg, #47F4B6 0%, #4CF3B7 24.5%, #51EBC3 53%, #56E4CD 81%, #49F0DC 100%);
$primary-linear-reverse: linear-gradient(270deg, #47F4B6 0%, #4CF3B7 24.5%, #51EBC3 53%, #56E4CD 81%, #49F0DC 100%);



$font-size12: 12px;
$font-size14: 14px;
$font-size16: 16px;
$font-size18: 18px;
$font-size24: 24px;
$font-size30: 30px;
$font-size32: 32px;
$font-size36: 36px;
$font-size40: 40px;
$font-size56: 56px;
$font-size68: 68px;
$font-size72: 72px;
$font-size78: 78px;
$font-size108: 108px;
$font-size124: 124px;
$font-size148: 148px;
$font-size280: 280px;

$font-weight300: 300;
$font-weight400: 400;
$font-weight600: 600;
$font-weight700: 700;