$main-background: linear-gradient(90.00deg, rgb(129, 239, 173) -31.733%,rgb(76, 243, 183) 0.541%,rgb(81, 235, 195) 38.085%,rgb(86, 228, 205) 74.971%,rgb(73, 240, 220) 100%);
$primary-dark-blue: rgb(35, 43, 80);
$primary-white: rgb(253, 255, 254);
$secondary-no-active: rgb(177, 177, 177);
$secondary-red: rgb(253, 12, 12);
$secondary-green: rgb(41, 191, 4);
$modal-bg: rgba(35, 43, 80, 0.5);
$close-modal: rgb(177, 177, 177);
$close-border-color: rgb(73, 240, 220);


// font-size
$font-size12: 12px;
$font-size14: 14px;
$font-size16: 16px;
$font-size18: 18px;
$font-size24: 24px;
$font-size28: 28px;
$font-size30: 30px;
$font-size56: 56px;

// font-weight

$font-weight400: 400;
$font-weight600: 600;
$font-weight700: 700;
