@use '../../../style/start-page/mixins.scss';
@use '../../../style/start-page/variables.scss';

  .hr {
   border-bottom: 1px solid variables.$secondary-gray;
   margin-top: 32px;
   margin-bottom: 16px;
  }

  .hrActive {
   border-bottom: 1px solid variables.$secondary-green;
   margin-top: 32px;
  }

  .collapse {
    margin-top: 48px;
  }

  .titleCollapse {
    @include mixins.flex(flex, space-between, center);
    width: 100%;
    position: relative;
    text-align: left;
    color: variables.$primary-color;
    font-size: variables.$font-size24;
    font-weight: variables.$font-weight600;
    border: none;
    background: transparent;
    padding: 0;
    top: 6px;
    cursor: pointer;
  }

  .helperCollapse {
    width: 32px;
    height: 32px;
    position: relative;
    z-index: -3;
    border: 1px solid variables.$secondary-green;
    border-radius: 100%;
    @include mixins.flex(flex, center, center);
    &::after {
        content: '';
        position: absolute; 
        width: 14px; 
        height: 1px; 
        transition: 0.5s all;
        background: black;
        right: 8px;
        transform: rotate(-90deg);
    }

    &::before {
        content: ''; 
        position: absolute; 
        width: 14px; 
        height: 1px;
        transition: 0.5s all; 
        background: black; 
        right: 8px;
        transform: rotate(0deg);
    }
  }

  .helperCollapseActive {
    width: 32px;
    height: 32px;
    position: relative;
    z-index: -3;
    background: variables.$primary-linear;
    border: 1px solid variables.$secondary-green;
    border-radius: 100%;
    @include mixins.flex(flex, center, center);
    &::after {
        content:'';
        position: absolute; 
        right: 8px;
        width: 14px; 
        height: 1px; 
        transition: 0.5s all;
        background: black; 
        transform: rotate(-45deg);
      
      }
  
      &::before {
          content:'';
          position: absolute; 
          right: 8px;
          width: 14px; 
          height: 1px; 
          transition: 0.5s all;
          background: black; 
          transform: rotate(45deg);
        
      }
  }

  .titleCollapseActive {
    @include mixins.flex(flex, space-between, center);
    width: 100%;
    position: relative;
    color: variables.$primary-color;
    font-size: variables.$font-size24;
    font-weight: variables.$font-weight600;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    text-align: left;
    transition: 0.5s all;
    top: 6px;
  }

  .collapseText {
    height: 0px;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, height 0.3s 0.3s ease-in-out;
    pointer-events: none;
    margin-top: 17px;
  }

  .collapseTextActive {
    width: 100%;
    opacity: 1;
    transition: height 0.3s ease-in-out, opacity 0.3s 0.3s ease-in-out;
    pointer-events: all;
    margin-top: 17px;
    margin-bottom: 16px;
  }

  @media(min-width: 768px) {
    .collapse {
        margin-top: 0;
    }
  }

  @media(min-width: 1280px) {

    .collapseTextActive {
      margin-bottom: 24px;
    }

    .hrActive {
      margin-top: 32px;
     }
  }