@use '../../../style/start-page/variables.scss';
@use '../../../style/start-page/mixins.scss';

.thanks {
    @include mixins.flex(flex, space-evenly, stretch);
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: 0;
    padding: 135px 16px;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    width: 360px;
    height: 435px;
    border-radius: 3px;
    background: variables.$primary-linear;
    z-index: 100000;
}

.close {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 44px;
    height: 44px;
    border-radius: 21.5px;
    background: transparent;
    border: 1px solid variables.$primary-bg;
    cursor: pointer;
}

.title {
    color: variables.$primary-color;
    font-size: variables.$font-size24;
    font-weight: variables.$font-weight600;
    line-height: 140%;
}

.text {
    color: variables.$primary-color;
    font-size: variables.$font-size16;
    font-weight: variables.$font-weight400;
    line-height: 150%;
    margin-top: 32px;
}

.svg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -5;
    width: 100%;
}

.svgDesktop {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -5;
    display: none;
}

@media(min-width: 425px) {
    .thanks {
        width: 345px;
        right: 0;
        top: 0;
        height: 100%;
        transform: none;
        left: initial;
    }
}

@media(min-width: 576px) {
    .thanks {
        left: initial;
        right: 0;
        width: 70%;
        height: 100%;
    }

    .title {
        font-size: variables.$font-size36;
    }

    .text {
        font-size: variables.$font-size24;
        margin-top: 0;
    }
}

@media(min-width: 768px) {
    .thanks {
        width: 55%;
    }

    .title {
        font-size: variables.$font-size40;
    }

}

@media(min-width: 992px) {
    .thanks {
        width: 42%;
    }

}

@media(min-width: 1200px) {
    .thanks {
        width: 520px;
    }
}

@media(min-width: 1280px) {
    .thanks {
        overflow: hidden;
        padding: 152px 37.5px 330px 37.5px;
    }

    .text {
        width: 340px;
        margin-top: 56px;
    }

    .close {
        right: 24px;
        top: 24px;
    }

    .svg {
        display: none;
    }

    .svgDesktop {
        display: initial;
        height: 100%;
    }
}