@use '../../style/mixins.scss';
@use '../../style/variables.scss';

.header {
    padding: 16px 16px 40px 16px;
}

.dots {
    display: none;
}

.wrapper {
   @include mixins.flex(flex, space-between, center)
}

.logo {
    display: block;
    width: 58px;
    height: 22px;
    text-decoration: none;
}

.svg1280 {
    display: none;
}

.divider {
    width: 2px;
    height: 25px;
    background: variables.$primary-dark-blue;
}

@media(min-width: 991px) {
    .header {
        padding: 16px 50px 40px 50px;
    }

    .svg1280 {
        display: initial;
    }

    .svg375 {
        display: none;
    }

    .logo {
        display: block;
        width: 101px;
        height: 39px;
        text-decoration: none;
    }
}

@media(min-width: 1280px) {
    .header {
        position: relative;
        padding: 24px 76px 80px 76px;
    } 

    .dots {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
    }
}