@use '../../../style/start-page/variables.scss';
@use '../../../style/start-page/mixins.scss';

.modal {
    position: fixed;
    background: variables.$secondary-gray-overlay;
    backdrop-filter: blur(5px);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000000;
}

