@use '../../../style/HomePage/mixins.scss';
@use '../../../style/HomePage/variables.scss';

.footer {
    padding: 32px 76px;
    background: variables.$primary-linear;
}

.logoWrapper {
    display: block;
}

.logoDesktop {
    display: none;
}

.wrapper {
    @include mixins.flex(flex, center, center);
    flex-direction: column;
    gap: 48px;
}

.contentWrapper {
    @include mixins.flex(flex, center, center);
    flex-direction: column;
    gap: 40px;
}

.list {
    @include mixins.flex(flex, center, flex-start);
    flex-direction: column;
    gap: 32px;
    list-style-type: none;
}

.link {
    color: variables.$primary-color;
    text-align: center;
    font-size: variables.$font-size16;
    font-weight: variables.$font-weight400;
    text-decoration: none;
}

.socialBlock {
    @include mixins.flex(flex, space-between, center);
    flex-direction: column;
}

.contactsBlock {
    @include mixins.flex(flex, space-between, flex-start);
    flex-direction: column;
    gap: 12px;
}

.email, .phone {
    @include mixins.flex(flex, center, center);
    text-decoration: none;
    color: variables.$primary-color;
    font-size: variables.$font-size14;
    font-weight: variables.$font-weight400;
    gap: 12px;
}

.circleEmail, .circlePhone {
    @include mixins.flex(flex, center, center);
    width: 32px;
    height: 32px;
    background: variables.$input-bg;
    border-radius: 16px;
}

.follow {
    @include mixins.flex(flex, space-between, center);
    gap: 5px;
    margin-top: 40px;
}

.followUs {
    color: variables.$primary-color;
    font-size: variables.$font-size14;
    font-weight: variables.$font-weight400;
}

.insta, .face, .social {
    @include mixins.flex(flex, center, center);
    width: 32px;
    height: 32px;
    background: variables.$input-bg;
    border-radius: 16px;
}

.reservedMobile {
    color: variables.$primary-color;
    font-size: variables.$font-size14;
    font-weight: variables.$font-weight400;
    white-space: nowrap;
    margin-top: 40px;
}

.reserved {
    display: none;
    color: variables.$primary-color;
    font-size: variables.$font-size14;
    font-weight: variables.$font-weight400;
    white-space: nowrap;
}

@media(min-width: 576px) {
    .footer {
        padding: 32px 16px;
    }

    .wrapper {
        @include mixins.flex(flex, center, initial);
    }

    .contentWrapper {
        @include mixins.flex(flex, space-between, center);
        gap: 33px; 
    }

    .list {
        @include mixins.flex(flex, space-between, center);
        flex-direction: column;
        gap: 30px;
    }
}

@media (min-width: 768px) {
    .contentWrapper {
        @include mixins.flex(flex, space-between, flex-start);
        flex-direction: row;
    }
    
    .reserved {
        display: initial;
    }

    .reservedMobile {
       display: none;
    }

    .logoRights {
        @include mixins.flex(flex, space-between, flex-start);
        flex-direction: column;
        gap: 130px;
    }

    .follow {
       margin-top: 0;
    }

    .socialBlock {
        @include mixins.flex(flex, space-between, flex-start);
        flex-direction: column;
        gap: 58px;
    }
}

@media(min-width: 992px) {
 .email:hover {
    .circleEmail {
        filter: drop-shadow(0px 4px 30px rgba(35, 43, 80, 0.10));
    }
 }

 .email:hover {
    .circleEmail {
        fill: variables.$input-bg;
        box-shadow: 0px 4px 30px 0px rgba(35, 43, 80, 0.25);
    }
 }

 .phone:hover {
    .circlePhone {
        fill: variables.$input-bg;
        box-shadow: 0px 4px 30px 0px rgba(35, 43, 80, 0.25);
    }
 }

 .insta:hover {
    box-shadow: 0px 4px 30px 0px rgba(35, 43, 80, 0.25);
 }

 .face:hover {
    box-shadow: 0px 4px 30px 0px rgba(35, 43, 80, 0.25);
 }

 .social:hover {
    box-shadow: 0px 4px 30px 0px rgba(35, 43, 80, 0.25);
 }

 .li {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        height: 1.5px;
        width: 0%;
        bottom: 0;
        background: variables.$primary-color;
        transition: 1s width;
       }
    &:hover {
        &::after {
            content: '';
            position: absolute;
            left: 0;
            height: 1.5px;
            width: 100%;
            bottom: 0;
            background: variables.$primary-color;
            transition: 1s width;
        }
    }
    
}
}

@media(min-width: 1280px) {
    .footer {
        padding: 40px 76px;
    }

    .logoDesktop {
        display: initial;
    }

    .logoMobile {
        display: none;
    }

    .reservedMobile {
        color: variables.$primary-color;
        font-size: variables.$font-size14;
        font-weight: variables.$font-weight400;
        white-space: nowrap;
    }

    .email, .phone {
        font-size: variables.$font-size16;
        gap: 12px;
    }

    .followUs {
        font-size: variables.$font-size16;
    }

    .contactsBlock {
        gap: 24px;
    }

    .list {
        @include mixins.flex(flex, space-between, center);
        flex-direction: column;
        gap: 30px;
    }

    .logoRights {
        @include mixins.flex(flex, space-between, flex-start);
        flex-direction: column;
        gap: 130px;
    }

    .wrapper {
        gap: 80px;
    }
}