@use '../../../style/HomePage/variables.scss';
@use '../../../style/HomePage/mixins.scss';

.stages {
   padding: 40px 16px 0 16px;
   overflow: hidden
}

.taskBlock {
   @include mixins.flex(flex, center, flex-start);
   flex-direction: column;
   gap: 64px;
}

.task, .solution, .project {
    font-size: variables.$font-size24;
    font-weight: variables.$font-weight600;
    background: variables.$productLinear;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project {
     margin-top: 64px;
}

.taskText, .solutionText {
    color: variables.$primary-color;
    font-size: variables.$font-size16;
    font-weight: variables.$font-weight400;
    line-height: 150%;
    margin-top: 24px;
}

.stagesWrapper {
    margin-top: 40px;
}

.cardsWrapper {
    position: relative;
    @include mixins.flex(flex, center, center);
    flex-direction: column;
    gap: 32px;
}

.card {
    @include mixins.flex(flex, center, center);
    gap: 16px;
    svg {
        flex-shrink: 0;
    }
}

.title {
    color: variables.$primary-color;
    font-size: variables.$font-size18;
    font-weight: variables.$font-weight600;
}

.text {
    color: variables.$primary-color;
    font-size: variables.$font-size14;
    font-weight: variables.$font-weight400;
    line-height: 140%;
    margin-top: 8px;
}

.imgWrapper {
    margin: 0 auto;
    margin-top: 32px;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.projectDesktop {
    display: none;
}

.svgMobile {
    position: absolute;
    left: 8px;
    top: -113px;
    z-index: -5;

    svg {
        height: 100%;
    }
}

.svgDesktop {
    display: none;
}

.iconWrapper {
   width: 64px;
   height: 58px;
   flex-shrink: 0;
   img {
    width: 100%;
    height: 100%;
    object-fit: contain;
   }
}

@media(min-width: 375px) {
    .svgMobile {
        top: -125px;
    }
}

@media(min-width: 425px) {
    .svgMobile {
        top: -135px;
    }
}

@media(min-width: 438px) {
    .svgMobile {
        height: 860px;
        left: -40px;
        top: -120px;
    }
}

@media(min-width: 576px) {
    .svgMobile {
        height: 860px;
        left: -40px;
        top: -120px;
    }

    .imgWrapper {
        width: 544px;
        margin: 0 auto;
        margin-top: 32px;
    }
}

@media(min-width: 683px) {
    .svgMobile {
        height: 790px;
        left: -50px;
        top: -124px;
    }
}

@media(min-width: 768px) {
    .taskSubblock {
        @include mixins.flex(flex, space-between, flex-start);
        gap: 100px;
    }

    .solutionSubblock {
        @include mixins.flex(flex, space-between, flex-start);
        gap: 62px; 
    }

    .taskText, .solutionText {
        margin-top: 0;
    }

    .stagesWrapper {
        @include mixins.flex(flex, space-between, flex-start);  
        flex-direction: row-reverse;
    }

    .projectMobile {
        display: none;
    }

    .projectDesktop {
        display: block;
    }
    
    .svgMobile {
        height: 1045px;
        left: -27px;
        top: -133px;
    }

    .imgWrapper {
        margin: initial;
        margin-top: 0;
        width: 328px;
        height: 600px;
        flex-shrink: 0;
    }

    .taskBlock {
        align-items: initial;
      }
  
    .taskText, .solutionText  {
        width: 500px;
    }

    .taskSubblock, .solutionSubblock {
        gap: 0;
        justify-content: space-between;
    }
}

@media(min-width: 992px) {
    .svgMobile {
        height: initial;
        left: -25px;
        top: -160px;
    }
    
    .taskBlock {
      align-items: initial;
    }

    .taskText, .solutionText  {
        width: 785px;
    }
}

@media(min-width: 1280px) {

    .stages {
        padding: 72px 76px 0 76px;
    }

    .cardsWrapper {
        gap: 56px;
    }

    .title {
        font-size: variables.$font-size24;
    }

    .text {
        font-size: variables.$font-size18;
    }

    .task, .solution, .project {
        font-size: variables.$font-size40;
    }

    .project {
        line-height: 140%
    }

    .project {
        margin-top: 104px;
    }

    .taskText, .solutionText {
        font-size: variables.$font-size18;
        margin-top: 0;
        width: 643px;
    }

    .taskBlock {
        @include mixins.flex(flex, center, initial);
        gap: 104px;
     }

    .svgMobile {
        display: none;
    }
    
    .svgDesktop {
        display: initial;
        height: 1132px;
        position: absolute;
        left: -577px;
        top: 67px;
        z-index: -5;

        svg {
            height: 100%;
        }
  }

  .card {
    justify-content: flex-start;
    width: 552px;
    gap: 24px;
  }

  .card1, .card3, .card5 {
    position: relative;
    right: 96px;
  }

  .imgWrapper {
    width: 406px;
    height: initial;
}
}