@use '../../style/HomePage/mixins.scss';
@use '../../style/HomePage/variables.scss';

.error {
    overflow: hidden;
    padding: 219px 16px 100px 16px;
}

.title {
    color: variables.$primary-color;
    font-size: variables.$font-size24;
    font-weight: variables.$font-weight600;
    line-height: 140%
}

.text {
    color: variables.$primary-color;
    font-size: variables.$font-size16;
    font-weight: variables.$font-weight400;
    margin-top: 64px;
    line-height: 150%;
}

.link {
    width: 328px;
    height: 48px;
    @include mixins.flex(flex, center, center);
    border-radius: 32px;
    background: variables.$primary-linear;
    color: variables.$primary-color;
    font-size: variables.$font-size14;
    font-weight: variables.$font-weight400;
    text-decoration: none;
    margin: 0 auto;
    margin-top: 183px;
    border: none;
    cursor: pointer;
}

.wrapper {
    position: relative;
}

.svg {
    width: 110%;
    position: absolute;
    top: -227px;
    left: -18px;
    z-index: -5;
}

.svgDesktop {
    display: none;
}

@media(min-width: 576px) {
    .content {
        width: 400px;
        margin: 0 auto;
    }
}

@media(min-width: 768px) {
    .svg {
        display: none;
    }

    .svgDesktop {
        display: initial;
        position: absolute;
        top: -164px;
        right: 0;
        bottom: 0;
        z-index: -5;
    }

    .content {
        margin: 0;
    }

    .title {
        font-size: variables.$font-size32;
    }

    .text {
        font-size: variables.$font-size18;
        margin-top: 24px;
    }

    .link {
        width: 264px;
        height: 56px;
        margin: 0;
        margin-top: 48px;
    }
}

@media(min-width: 992px) {
    .link {
        justify-content: center;
        gap: 12px;
        padding: 0;
        position: relative;
        z-index: 1;
        transition: 0.5s;
    }

    .link::before {
        content: '';
        background: variables.$primary-linear-reverse;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: 0.5s;
        z-index: -1;
        border-radius: 32px;
    }

    .link:hover {
        svg {
            position: relative;
            animation: moveRight 0.3s forwards;
        }

        &::before {
            opacity: 1;
        }
    }

    .link:not(:hover) {
        svg {
            position: relative;
            animation: moveLeft 0.3s forwards;
        }
    }

    @keyframes moveRight {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(6px);
        }
    }

    @keyframes moveLeft {
        from {
            transform: translateX(6px);
        }

        to {
            transform: translateX(0);
        }
    }
}

@media(min-width: 1280px) {
    .content {
        width: initial;
    }

    .title {
        width: 645px;
    }

    .text {
        width: 551px;
    }

    .svgDesktop {
        right: -67px;
    }
}