@use '../../style/mixins.scss';
@use '../../style/variables.scss';



.title {
    color: variables.$primary-dark-blue;
    font-family: inherit;
    font-size: variables.$font-size30;
    font-weight: variables.$font-weight600;
    text-align: left;
    line-height: 150%;
}

.dots {
    display: none;
}

.discount {
    position: relative;
    font-weight: variables.$font-weight600;
    color: variables.$primary-dark-blue;
    text-wrap: nowrap;
    &:after {
        position: absolute;
        bottom: 4px;
        left: 0;
        content: '';
        display: block;
        width: 100%;
        height: 20px;
        opacity: 0.8;
        background: linear-gradient(to bottom, transparent 0%, transparent 75%, white 75%, white 100%);
        border-radius: 8px;
        z-index: -1;

    }
}

.text {
    color: variables.$primary-dark-blue;
    font-family: inherit;
    font-size: variables.$font-size18;
    font-weight: variables.$font-weight400;
    text-align: left;
    line-height: 150%;
    margin-top: 49px;

}

.wrapper {
    padding: 100px 16px 0 16px;
}

@media(min-width: 767px) {
    .wrapper {
        padding-top: 100px;
    }

    .title {
        width: 495px;
    }

    .text {
        width: 550px;
    }
}

@media(min-width: 991px) {
    .content {
        position: relative;
        padding: 0 50px 0 50px;
    }

    .wrapper {
        padding-top: 100px;
    }

}

@media(min-width: 1024px) {
    .title {
        width: 900px;
    }

    .text {
        width: 745px;
    }
}

@media(min-width: 1280px) {
    .content {
        position: relative;
        padding: 100px 76px 0 76px;
    }

    .dots {
       position: absolute;
       right: 0;
       top: 0;
       display: block;
    }

    .wrapper {
        padding: 0;
    }
    
    .title {
        width: 890px;
        font-size: variables.$font-size56;
    }

    .text {
        font-size: variables.$font-size24;
        margin-top: 64px;
    }
}