@use '../../../style/start-page/mixins.scss';
@use '../../../style/start-page/variables.scss';

.projects {
    padding: 88px 16px 0 16px;
}

.title {
    color: variables.$primary-color;
    font-size: variables.$font-size40;
    font-weight: variables.$font-weight600;
}

.projectsTitle {
    background: variables.$primary-linear;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: variables.$font-size40;
    font-weight: variables.$font-weight700;
}

.text {
    color: variables.$primary-color;
    font-size: variables.$font-size18;
    font-weight: variables.$font-weight300;
    line-height: 150%;
    margin-top: 8px;
}

.projectLink {
    position: relative;
    width: 328px;
    height: 56px;
    padding: 12px 48px;
    gap: 0;
    @include mixins.flex(flex, center, center);
    color: variables.$primary-color;
    font-size: variables.$font-size14;
    font-weight: variables.$font-weight400;
    text-decoration: none;
    gap: 12px;
    border-radius: 32px;
    background: variables.$primary-button-bg;
    margin: 0 auto;
    margin-top: 48px;
}

.projectsWrapper {
    @include mixins.flex(flex, center, center);
    flex-direction: column;
    gap: 40px;
    margin-top: 48px;
}


@media(min-width: 992px) {
    .projectsWrapper {
        @include mixins.flex(flex, space-between, center);
        flex-direction: row;
        gap: 40px;
        margin-top: 48px;
    }
}

@media(min-width: 1280px) {
    .projects {
        padding: 160px 76px 0 76px;
    }

    .title {
        font-size: variables.$font-size56;
    }
    
    .projectsTitle {
        font-size: variables.$font-size56;
    }

    .projectsWrapper {
        margin-top: 72px;
    }

    .text {
        width: 455px;
        margin-top: 16px;
    }

    .projectLink {
        width: 264px;
        height: 56px;
        @include mixins.flex(flex, flex-start, center);
        padding: 16px 52px 16px 94px;
    }
}