@use '../../../style/start-page/mixins.scss';
@use '../../../style/start-page/variables.scss';

.engagemet {
    padding: 88px 16px 0 16px;
}

.title {
    color: variables.$primary-color;
    font-size: variables.$font-size40;
    font-weight: variables.$font-weight600;
}

.models {
    background: variables.$primary-linear;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: variables.$font-size40;
    font-weight: variables.$font-weight700;
}

.text {
    color: variables.$primary-color;
    font-size: variables.$font-size16;
    font-weight: variables.$font-weight300;
    margin-top: 8px;
}

.cardWrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    justify-content: center;
    gap: 40px;
    margin-top: 48px;
}

.card {
    overflow: hidden;
    @include mixins.flex(flex, flex-start, center);
    flex-direction: column;
    gap: 24px;
    position: relative;
    padding: 34px 33px;
    border-radius: 32px;
    background: variables.$secondary-bg-gray;
    backdrop-filter: blur(30px);
}

.cardTitle {
    position: relative;
    z-index: 5;
    color: variables.$primary-color;
    text-align: center;
    font-size: variables.$font-size24;
    font-weight: variables.$font-weight600;
}

.cardList {
    width: 245px;
    position: relative;
    z-index: 5;
    @include mixins.flex(flex, center, flex-start);
    gap: 16px;
    flex-direction: column; 
    list-style-type: disc;
}

.textItem {
    color: variables.$primary-color;
    font-size: variables.$font-size16;
    font-weight: variables.$font-weight400;
}

.wave {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.link {
    width: 328px;
    height: 48px;
    @include mixins.flex(flex, center, center);
    border-radius: 32px;
    background: variables.$primary-button-bg;
    text-decoration: none;
    color: variables.$primary-color;
    font-size: variables.$font-size14;
    font-weight: variables.$font-weight400;
    margin: 0 auto;
    margin-top: 48px;
}

.waveDesktop {
    display: none;
}

.svgTitleWrapper {
    @include mixins.flex(flex, center, center);
    flex-direction: column;
    gap: 24px;
}

@media(min-width: 425px) {
    .engagemet {
        padding: 0 16px 0 16px;
    }

    .cardWrapper {
        grid-template-columns: 393.6px;
    }
}

@media(min-width: 768px) {
    .engagemet {
        padding: 0 16px 0 16px;
    }

    .cardWrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width: 992px) {
    .cardWrapper {
        grid-template-columns: 380px 380px;
    }

    .link {
        gap: 12px;
        padding: 0;
        justify-content: center;
    }

    .link:hover {
        svg {
            position: relative;
            left: 6px;
        }
        background: variables.$primary-linear-reverse;
    }
}

@media(min-width: 1280px) {
    .engagemet {
      padding: 0 76px 0 76px;
    }

    .title {
        font-size: variables.$font-size56;
        font-weight: variables.$font-weight600;
    }
    
    .models {
        font-size: variables.$font-size56;
        font-weight: variables.$font-weight600;
    }
    
    .text {
        width: 455px;
        font-size: variables.$font-size18;
        margin-top: 16px;
    }
   
    .card {
        gap: 24px;
        padding: 48px 18px;
    }

    .cardList {
        width: 190px;
    }

    .cardTitle {
        width: 167px;
    }

    .cardTitleWidth {
        width: 216px;
    }

    .svgIcon {
        flex-shrink: 0;
    }

    .cardWrapper {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        margin-top: 90px;
        gap: 24px;
    }

    .link {
        padding: 0;
        width: 264px;
        height: 56px;
    }

    .wave {
        display: none;
    }

    .waveDesktop {
        display: initial;
        position: absolute;
        bottom: 0;
    }

    .wave4 {
        bottom: -37px;
    }

    .svgTitleWrapper {
        gap: 32px;
    }
}